<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: #18387a;
  }

  .container {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 20px 50px;
    border-radius: 5px;
  }

  .container h1 {
    font-size: 40px;
    margin: 0;
  }

  .inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
  }

  .todo-list li {
    margin-top: 5px;
    border: 1px solid #bbb;
    padding: 5px 10px;
  }

  .todo-list li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .todo-list button {
    margin-left: 5px;
  }

  .msg {
    color: #bbb;
    margin-bottom: 20px;
  }

  #completed-tasks {
    color: #4caf50;
  }
</style>

<div class="container">
  <h1>Angular Todo List App</h1>
  <hr />
  <form class="todo-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="input-field col s9">
        <input type="text" name="title" id="title" ngModel />
        <label for="title">Enter Task</label>
      </div>

      <div class="input-field col s3">
        <button type="submit" class="btn waves-effect waves-light blue">
          <i class="material-icons inline-icon">add</i>Add
        </button>
      </div>
    </div>
  </form>
  <ul class="todo-list" *ngFor="let todo of todos">
    <li *ngIf="!todo.isComplete">
      <div>
        <div>{{ todo.title }}</div>
        <div>
          <button
            (click)="onComplete(todo.id)"
            class="btn-floating waves-effect waves-light green"
          >
            <i class="material-icons">check</i>
          </button>

          <button
            (click)="onDelete(todo.id)"
            class="btn-floating waves-effect waves-light red"
          >
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="!todos?.length" class="msg">Your Todo List is Empty!</div>

  <hr />
  <br />

  <h1 id="completed-tasks">Completed Tasks</h1>
  <hr />
  <ul class="todo-list" *ngFor="let todo of todos">
    <li *ngIf="todo.isComplete">
      <div>
        <div>{{ todo.title }}</div>
        <div>
          <button
            (click)="onDelete(todo.id)"
            class="btn-floating waves-effect waves-light red"
          >
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
